﻿@using System.Security.Cryptography.X509Certificates

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Property

<div class="form-group row">
    <label asp-for=PropertyName class="control-label col-3 col-form-label"></label>
    <div class="col-9">
        <input asp-for=@Model.PropertyName class="form-control" />
        <span asp-validation-for=@Model.PropertyName class="text-danger"></span>
    </div>
</div>

