﻿body {
}

.main-header {
    margin-bottom: 20px;
    border-bottom: 1.5px solid black;
}

.header {
    font-size: 1.2em;
    margin-bottom: 10px;
    background: rgb(58, 57, 57);
    color: whitesmoke;
}

.group-header {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid black;
}

li.row {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 5px;
    padding-top: 7px;
}

li.row:hover {
    background: lightgrey;
}

a.expander {
    background: rgb(246, 246, 246);
}

a.expander, a.expander:link, a.expander:visited, a.expander:hover, a.expander:active {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}

.group-toolbar {
    margin-bottom: 10px;
}

.oculta {
    display: none;
}
