﻿label {
    font-weight: bold;
}

hr {
    text-align: left;
    margin-left: 0;
    margin-right: 15px;
}

hr.underline {
    height: 1px;
    color: black;
}

.sifo-form-title {
    padding-bottom: 0.25em;
    border-bottom: 2px solid lightgrey;
    margin-bottom: 0.5em;
}

fieldset:first-of-type {
    border-top: 1px solid lightgrey;
    padding-top: 15px;
}

fieldset:not(:last-of-type) {
    border-bottom: 1px solid lightgrey;
    margin-top: 15px;
}

fieldset:last-of-type {
    margin-top: 15px;
}

.sifo-text-center {
    text-align: center
}
