

textarea{
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
    resize: none;
    color: black;
    line-height: normal;
    font-family: Arial, serif;
    
}

.optional-info{
    border-top: 1px solid lightgray;
    padding-top: 20px;
}

.optional-info:last-of-type{
    border-bottom: 1px solid lightgray;
}

div.card.card-body {
    border: 0;
    padding-left: 0;
    padding-right: 0;
    border-collapse: collapse;
}

.submit-group{
    margin-top: 20px;
}

.title{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.expand-option{
    width: 80px;
}


.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters > .col, > [class*="col-"] {
    margin-right: 0;
    margin-left: 0;

}

.submit-group{
    margin-top: 30px;
    margin-bottom: 30px;
}

#modal_calle_id, #latitud, #longitud, #modal_calle_nombre{
    width: 100%;
}

.modal-body{
    font-size: 14px;
}

#mapa{
    border: 2px solid lightgray;
}

.input-group-append > button{
    width: 100px;
}

