
.ubicacion {
    font-size: 12px;
}

.id{
    font-size: 12px;
}

.b-table-sticky-header{
    max-height: calc(100vh - 185px) !important;
    text-wrap: none;
    overflow-y: auto;
}


tbody{
    white-space: nowrap;
}


