
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div id="app" class="flex-container">
    <v-app>
        <sitios
            api_get="/api/ubicaciones"
            api_delete="/api/ubicaciones">
        </sitios>
    </v-app>
</div>

<style>
    div.container{
    max-width: 100%;
    }
</style>

<script type="module">
import "/VueComponents22/VueComponents2.umd.js"

Vue.component('sitios', VueComponents2.Layout);
Vue.component('ValidationObserver', VeeValidate.ValidationObserver);
Vue.component('ValidationProvider', VeeValidate.ValidationProvider);

console.log(VueComponents2);


new Vue({
    vuetify: new Vuetify(),
    el: '#app',
});
</script>

@section Styles
{
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@("@")mdi/font@("@")4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="VueComponents22/VueComponents2.css"/>
}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
      <script src="lib/vee-validate/dist/vee-validate.full.js"></script>
    <script src="/lib/axios/axios.js"></script>
    <script src="/lib/moment/moment.js"></script>

}
