﻿@model SISIFO2019.Model.Instalacion


<div>
    <table class="table table-sm">

        <thead class="thead-dark">
        <tr>
            <th>Tipo</th>
            <th>Estado</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th>Contratista</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        @foreach (var orden in @Model.Tareas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => orden.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => orden.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => orden.FechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => orden.FechaFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => orden.Contratista)
                </td>
                <td>
                    <a asp-controller="Tareas" asp-action="Details" asp-route-id="@orden.Id"><i class="fas fa-binoculars btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Detalles"></i></a> |
                    <a asp-controller="Tareas" asp-action="Edit" asp-route-id="@orden.Id"><i class="fas fa-pencil-alt btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Editar"></i></a> |
                    <a asp-controller="Tareas" asp-action="Delete" asp-route-id="@orden.Id"><i class="fas fa-trash-alt btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Borrar"></i></a>
                </td>
            </tr>
        }
        </tbody>

    </table>
</div>

<hr/>
<p>
    <a asp-controller="Tareas" asp-action="Create" asp-route-instalacionId="@Model.Id" class="btn btn-primary">Agregar tarea</a>
</p>