﻿@using SISIFO2019.Model
@model SISIFO2019.Model.Instalacion

@if (@Model.Tareas.Count > 0)
{
    <div class="card-deck">
        @foreach (var tarea in @Model.Tareas)
        {
            <div class="card col-3 p-0">

                <h5 class="card-header">@tarea.Tipo</h5>

                <div class="card-body">
                    <dl class="row">
                        <dt class="col-5">Estado</dt>
                        <dd class="col-7"> @tarea.Estado</dd>
                        <dt class="col-5">Inicio</dt>
                        <dd class="col-7"> @(tarea.FechaInicio?.ToString("dd/MM/yyyy HH:mm:ss") ?? "-")</dd>
                        <dt class="col-5">Fin</dt>
                        <dd class="col-7"> @(tarea.FechaFin?.ToString("dd/MM/yyyy HH:mm:ss") ?? "-")</dd>
                        <dt class="col-5">Contratista</dt>
                        <dd class="col-7"> @tarea.Contratista</dd>
                    </dl>
                    <p class="card-text">@tarea.Descripcion</p>



                </div>
                <div class="card-footer">
                    <div style="font-size: 20px">
         

                        @if (@tarea.Estado == EstadoDeTarea.Terminada)
                        {
                            <div class="alert alert-success row justify-content-center mx-0">
                                <i class="far fa-thumbs-up"></i>
                            </div>
                        }

                        @if (@tarea.Estado == EstadoDeTarea.Cancelada)
                        {
                            <div class="alert alert-danger row justify-content-center mx-0">
                                <i class="far fa-thumbs-down"></i>
                            </div>
                        }
               
                        @if (@tarea.Estado == EstadoDeTarea.EnEjecucion)
                        {
                            <div class="alert alert-info row justify-content-center mx-0" style="font-size: 0.675em">
                                <strong>En ejecución</strong>
                            </div>
                        }
                    </div>
                    <div class="">
                        <a asp-controller="Tareas" asp-action="Details" asp-route-id="@tarea.Id"><i class="fas fa-binoculars btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Detalles"></i></a> |
                        <a asp-controller="Tareas" asp-action="Edit" asp-route-id="@tarea.Id"><i class="fas fa-pencil-alt btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Editar"></i></a> |
                        <a asp-controller="Tareas" asp-action="Delete" asp-route-id="@tarea.Id"><i class="fas fa-trash-alt btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Borrar"></i></a>
                    </div>
                </div>
            </div>
        }
    </div>
}

<hr />
<p class="mt-3">
    <a asp-controller="Tareas" asp-action="Create" asp-route-instalacionId="@Model.Id" class="btn btn-primary">Agregar tarea</a>
</p>

