﻿@using System.Collections.Specialized
@using SISIFO2019.Model
@model SISIFO2019.Mvc.Models.Instalaciones.CrearInstalacionViewModel


@{
    ViewData["Title"] = "Create";
}


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Resultados de la busqueda</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="container">
                    <div class="row">
                        <table class="table table-sm col-12 mb-5">
                            <thead>
                            <tr>
                                <th>Calle</th>
                                <th>Numero</th>
                                <th>Departamento</th>
                                @* <th>Coordenadas</th> *@
                                <th> Calle Id</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="modal_results">

                            </tbody>
                        </table>
                    </div>

                    <div class="row mr-0">
                        <div class="form-group row col-12">
                            <label class="control-label col-3 col-form-label">Calle ID</label>
                            <div class="col-9">
                                <input class="form-control" id="modal_calle_id" type="text" readonly="readonly"/>
                            </div>
                        </div>

                        <div class="form-group row col-12">
                            <label class="control-label col-3 col-form-label">Calle nombre</label>
                            <div class="col-9">
                                <input class="form-control" id="modal_calle_nombre" type="text" readonly="readonly"/>
                            </div>
                        </div>


                        <div class="form-group row col-12">
                            <label class="control-label col-3 col-form-label">Latitud</label>
                            <div class="col-9">
                                <input class="form-control" id="latitud" type="text" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="form-group row col-12">
                            <label class="control-label col-3 col-form-label">Longitud</label>
                            <div class="col-9">
                                <input class="form-control" id="longitud" type="text" readonly="readonly"/>
                            </div>
                        </div>

                    </div>

                    <div id="jms">

                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button id="modal_accept" type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <h1>Crear instalación</h1>
</div>

<div class="row">
<div class="col-12">

<form asp-action="Create" class="needs-validation row">

<input id="redirected" type="hidden" value="@Model.RedirectedWithValidationErrors">

@* Datos básicos *@
<div class="row col-12">


    <div class="container">
        <div class="row">
            <div class="col-12 optional-info">
                <div class="row justify-content-between">
                    <div class="col-9 mb-3">
                        <div class="row title">
                            Datos básicos
                        </div>
                        <div class="row">
                            Completá los datos básicos de la instalación.
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="row justify-content-end">
                            <button id="collapse-button-5" class="btn btn-outline-success expand-option" type="button" data-toggle="collapse" data-target="#collapse-5" aria-expanded="false" aria-controls="collapseExample">
                                Ocultar
                            </button>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="collapse show" id="collapse-5">
            <div class="card card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <label asp-for="Cliente" class="control-label col-3 col-form-label label-for-required"></label>
                    <div class="col-9">
                        <input asp-for="Cliente" class="form-control obligatorio"/>
                        <span asp-validation-for="Cliente" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-3 col-form-label">Cliente final</label>
                    <div class="col-9">
                        <input asp-for="ClienteFinal" class="form-control"/>
                        <span asp-validation-for="ClienteFinal" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group row">
                    <label class="control-label col-3 col-form-label label-for-required">Fecha de inicio</label>

                    <div class="col-9">
                        <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                            <input id="inicio" type="text" name="FechaInicio" value="@Model.FechaInicio" class="form-control datetimepicker-input" data-target="#datetimepicker2"/>
                            <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                <div class="input-group-text">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="FechaInicio" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">
                    <label class="control-label col-3 col-form-label label-for-required">Dias de instalación</label>
                    <div class="col-9">
                        <input asp-for="DiasDeInstalacion" class="form-control" id="dias_inst"/>
                        <span asp-validation-for="DiasDeInstalacion" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-3 col-form-label">Compromiso</label>
                    <div class="col-9">
                        <input type="text" value="@Model.FechaCompromiso" class="form-control" readonly="readonly" id="compromiso"/>
                        <span asp-validation-for="FechaCompromiso" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="CRM" class="control-label col-3 col-form-label label-for-required"></label>
                    <div class="col-9">
                        <select asp-for="CRM" asp-items="Html.GetEnumSelectList<CRM>()" class="form-control">
                            <option value="0" selected="selected">Ninguno</option>
                        </select>
                        <span asp-validation-for="CRM" class="text-danger"></span>
                    </div>
                </div>


            </div>
        </div>
    </div>


</div>

@* Datos de la orden *@
<div class="row col-12">


    <div class="container">
        <div class="row">
            <div class="col-12 optional-info">
                <div class="row justify-content-between">
                    <div class="col-9 mb-3">
                        <div class="row title">
                            Datos de la orden
                        </div>
                        <div class="row">
                            Completá los datos de la orden.
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="row justify-content-end">
                            <button id="collapse-button-6" class="btn btn-outline-success expand-option" type="button" data-toggle="collapse" data-target="#collapse-6" aria-expanded="false" aria-controls="collapseExample">
                                Ocultar
                            </button>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="collapse show" id="collapse-6">
            <div class="card card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group row">
                    <label class="control-label col-3 col-form-label">Número de orden</label>
                    <div class="col-9">
                        <input asp-for="NumeroDeOrden" class="form-control"/>
                        <span asp-validation-for="NumeroDeOrden" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-3 col-form-label">Número de enlace</label>
                    <div class="col-9">
                        <input asp-for="NumeroDeEnlace" class="form-control"/>
                        <span asp-validation-for="NumeroDeEnlace" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-3 col-form-label">Tipo de orden</label>
                    <div class="col-9">
                        <select asp-for="TipoDeOrden" asp-items="Html.GetEnumSelectList<TipoDeOrden>()" class="form-control">
                            <option value="" selected="selected" disabled="disabled" hidden="hidden">Seleccionar</option>
                        </select>
                        <span asp-validation-for="TipoDeOrden" class="text-danger"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>

@* Ubicacion *@
<div class="row col-12">
<div class="container">
    <div class="row">
        <div class="col-12 optional-info">
            <div class="row justify-content-between">
                <div class="col-9 mb-3">
                    <div class="row title">
                        Datos geográficos
                    </div>

                    <div class="row">
                        Completá los datos geográficos del sitio de instalación.
                    </div>

                </div>

                <div class="col-2">
                    <div class="row justify-content-end">
                        <button id="collapse-button-0" class="btn btn-outline-success expand-option" type="button" data-toggle="collapse" data-target="#collapse-0" aria-expanded="false" aria-controls="collapseExample">
                            Ocultar
                        </button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="col-12">
    <div class="collapse show" id="collapse-0">
        <div class="card card-body">
            <div class="row">
                <div class="col-6">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group row">
                        <label class="control-label col-3 col-form-label label-for-required">Provincia</label>
                        <div class="col-9">
                            <select id="provincia_id" asp-for="ProvinciaId" class="form-control">
                                <option value="0" selected="selected" disabled="disabled" hidden="hidden">Seleccionar</option>
                                @foreach (var p in @Model.ProvinciaOpciones.OrderBy(p => p.Id))
                                {
                                    <option value="@p.Id">@p.Nombre - @p.Id</option>
                                }

                            </select>
                            <span asp-validation-for="ProvinciaId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-3 col-form-label label-for-required">Departamento</label>
                        <div class="col-9">
                            <select id="departamento_id" asp-for="DepartamentoId" class="form-control">
                                <option value="" selected="selected" disabled="disabled" hidden="hidden">Seleccionar</option>
                            </select>
                            <span asp-validation-for="DepartamentoId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-3 col-form-label label-for-required">Dirección</label>
                        <div class="col-9">
                            <div class="input-group">
                                <input id="direccion" asp-for="Direccion" class="form-control"/>
                                <div class="input-group-append">
                                    <button id="normalizacion" type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#exampleModalCenter">
                                        Normalizar
                                    </button>
                                </div>
                            </div>
                            <span asp-validation-for="Direccion" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">
                        <label class="control-label col-3 col-form-label">Municipio</label>
                        <div class="col-9">
                            <select id="municipio_id" asp-for="MunicipioId" class="form-control">
                                <option value="" selected="selected" disabled="disabled" hidden="hidden">Seleccionar</option>
                            </select>
                            <span asp-validation-for="MunicipioId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-3 col-form-label">Localidad</label>
                        <div class="col-9">
                            <select id="localidad_id" asp-for="LocalidadId" class="form-control">
                                <option value="" selected="selected" disabled="disabled" hidden="hidden">Seleccionar</option>
                            </select>
                            <span asp-validation-for="LocalidadId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-3 col-form-label">Calle</label>
                        <div class="col-9">

                            <div class="input-group">
                                <select id="calle_id" asp-for="CalleId" class="form-control">
                                    <option value="" selected="selected" disabled="disabled" hidden="hidden">Seleccionar</option>
                                </select>
                                <div class="input-group-append">
                                    <button type="button" id="btn_calle_cancelar" class="btn btn-sm btn-secondary">Cancelar</button>
                                </div>
                            </div>
                            <span asp-validation-for="CalleId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-3 col-form-label">Numero y Piso</label>
                                <div class="col pr-1">
                                    @* <label class="control-label col-form-label">Numero</label> *@
                                    <input asp-for="CalleNumero" class="form-control" placeholder="Numero"/>
                                    <span asp-validation-for="CalleNumero" class="text-danger"></span>
                                </div>

                                <div class="col pl-1">
                                    @* <label class="control-label col-form-label">Piso</label> *@
                                    <input asp-for="DireccionPiso" class="form-control" placeholder="Piso"/>
                                    <span asp-validation-for="DireccionPiso" class="text-danger"></span>
                                </div>

                        </div>


                    <div class="form-group row mb-3">
                        <label class="control-label col-3 col-form-label">Coordenadas</label>
                        <div class="col pr-1">
                            <input id="lat" asp-for="Latitud" class="form-control" placeholder="Latitud"/>
                            <span asp-validation-for="Latitud" class="text-danger"></span>
                        </div>
                        <div class="col pl-1">
                            <input id="lon" asp-for="Longitud" class="form-control" placeholder="Longitud"/>
                            <span asp-validation-for="Longitud" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="container ml-0">
                        <div class="row">

                            <button id="restablecer" type="button" class="btn btn-sm btn-secondary">
                                Restablecer
                            </button>

                            <a href="" target="_blank" id="google_maps" type="reset" class="btn btn-sm btn-secondary ml-1">
                                Ver en Google Maps
                            </a>

                            <div class="btn-group ml-auto">

                                <button id="zoom_menos" type="button" class="btn btn-sm btn-secondary">-</button>
                                <button id="zoom_normal" type="button" class="btn btn-sm btn-secondary">Centrar</button>
                                <button id="zoom_mas" type="button" class="btn btn-sm btn-secondary">+</button>
                            </div>


                        </div>
                    </div>

                </div>

                <div id="mapa" class="col-6"></div>
            </div>

        </div>
    </div>
</div>

</div>


@* MdD *@
<div class="row col-12">
    <div class="container">
        <div class="row">
            <div class="col-12 optional-info">
                <div class="row justify-content-between">
                    <div class="col-9 mb-3">
                        <div class="row title">
                            Mesa de despacho
                        </div>
                        <div class="row">
                            Indicá quién es el PM asignado y si la instalación está priorizada.
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="row justify-content-end">
                            <button id="collapse-button-2" class="btn btn-outline-secondary expand-option" type="button" data-toggle="collapse" data-target="#collapse-2" aria-expanded="false" aria-controls="collapseExample">
                                Mostrar
                            </button>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>


    <div class="col-6">
        <div class="collapse" id="collapse-2">
            <div class="card card-body">

                <div class="form-group row">
                    <label class="control-label col-3 col-form-label">PM Asignado</label>
                    <div class="col-9">
                        <select asp-for="PMAsignadoId" class="form-control">
                            <option value="" selected="selected" disabled="disabled" hidden="hidden">--Seleccionar--</option>
                            @foreach (var p in @Model.PMAsignadoOpciones)
                            {
                                <option value="@p.Id">@p.NombreCompleto</option>
                            }

                        </select>
                        <span asp-validation-for="PMAsignadoId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-3 col-form-label">Priorizada</label>
                    <div class="col-9">
                        <select asp-for="EstaPriorizada" class="form-control">
                            <option value="False" selected="selected">No</option>
                            <option value="True">Sí</option>
                        </select>
                        <span asp-validation-for="EstaPriorizada" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


@* Seguimiento *@
<div class="row col-12">


    <div class="container">
        <div class="row">
            <div class="col-12 optional-info">
                <div class="row justify-content-between">
                    <div class="col-9 mb-3">
                        <div class="row title">
                            Seguimiento
                        </div>
                        <div class="row">
                            Definí el estado de la instalación, en qué etapa se encuentra, y quién es el responsable actual.
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="row justify-content-end">
                            <button id="collapse-button-1" class="btn btn-outline-secondary expand-option" type="button" data-toggle="collapse" data-target="#collapse-1" aria-expanded="false" aria-controls="collapseExample">
                                Mostrar
                            </button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-6">


        <div class="collapse" id="collapse-1">
            <div class="card card-body">
                <div class="form-group row">
                    <label asp-for="Etapa" class="control-label col-3 col-form-label"></label>
                    <div class="col-9">
                        <select asp-for="Etapa" asp-items="Html.GetEnumSelectList<Etapa>()" class="form-control">
                            <option value="" selected="selected" disabled="disabled" hidden="hidden">Seleccionar</option>
                        </select>
                        <span asp-validation-for="Etapa" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Estado" class="control-label col-3 col-form-label"></label>
                    <div class="col-9">
                        <select asp-for="Estado" asp-items="Html.GetEnumSelectList<Estado>()" class="form-control">
                            <option value="" selected="selected" disabled="disabled" hidden="hidden">Seleccionar</option>
                        </select>
                        <span asp-validation-for="Estado" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Responsable" class="control-label col-3 col-form-label"></label>
                    <div class="col-9">
                        <select asp-for="Responsable" asp-items="Html.GetEnumSelectList<Responsable>()" class="form-control">
                            <option value="" selected="selected" disabled="disabled" hidden="hidden">Seleccionar</option>
                        </select>
                        <span asp-validation-for="Responsable" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-3 col-form-label">Dueño</label>
                    <div class="col-9">
                        <select asp-for="DuenioId" class="form-control">
                            <option value="" selected="selected" disabled="disabled" hidden="hidden">--Seleccionar--</option>
                            @foreach (var d in @Model.DuenioOpciones)
                            {
                                <option value="@d.Id">@d.NombreCompleto</option>
                            }

                        </select>
                        <span asp-validation-for="DuenioId" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


@* Nota *@
<div class="row col-12">


    <div class="container">
        <div class="row">
            <div class="col-12 optional-info">
                <div class="row justify-content-between">
                    <div class="col-9 mb-3">
                        <div class="row title">
                            Nota
                        </div>
                        <div class="row">
                            Agrega una nota aclarando todo lo que consideres necesario.
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="row justify-content-end">
                            <button id="collapse-button-3" class="btn btn-outline-secondary expand-option" type="button" data-toggle="collapse" data-target="#collapse-3" aria-expanded="false" aria-controls="collapseExample">
                                Mostrar
                            </button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="collapse" id="collapse-3">
            <div class="card card-body">
                <div class="row">
                    <div class="col-12">
                        <textarea asp-for="Nota" rows="20" spellcheck="false"></textarea>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

@* Dummy *@
<div class="row col-12"></div>


<div class="row container submit-group">

    <div class="container">
        <div class="row">
            <input type="submit" value="Crear" class="btn btn-success"/>
            <a asp-action="Index" class="btn btn-secondary ml-2">Cancelar y volver a la lista</a>
        </div>
    </div>


</div>


</form>


</div>


</div>


@section Styles
{
    <link rel="stylesheet" href="~/css/instalaciones/crear.css"/>
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="/lib/moment/moment.js" type="text/javascript"></script>
    <script src="/lib/moment/moment-with-locales.js" type="text/javascript"></script>
    <script src="/js/instalaciones/crear.js" type="text/javascript"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css"/>

    @* <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script> *@
    <script type="text/javascript" src="https://www.ign.gob.ar/argenmap2/argenmap.jquery.min.js"></script>
}