﻿@model SISIFO2019.Model.Instalacion

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>
<h3>Estás seguro que querés borrar esta instalación?</h3>
<hr/>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente)
        </dd>

        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Etapa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Etapa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Responsable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Responsable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
       
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
