﻿@using SISIFO2019.Model
@model SISIFO2019.Model.Instalacion

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar instalación</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-area="Instalaciones" asp-controller="Instalaciones" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group row">
                <label asp-for="Cliente" class="control-label col-3 col-form-label"></label>
                <div class="col-9">
                    <input asp-for="Cliente" class="form-control" />
                    <span asp-validation-for="Cliente" class="text-danger"></span>
                </div>
            </div>

           
            <div class="form-group row">
                <label asp-for="FechaInicio" class="control-label col-3 col-form-label"></label>
                <div class="col-9">
                    <input asp-for="FechaInicio" class="form-control" />
                    <span asp-validation-for="FechaInicio" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="FechaCompromiso" class="control-label col-3 col-form-label"></label>
                <div class="col-9">
                    <input asp-for="FechaCompromiso" class="form-control" />
                    <span asp-validation-for="FechaCompromiso" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Etapa" class="control-label col-3 col-form-label"></label>
                <div class="col-9">
                    <select asp-for="Etapa" asp-items="Html.GetEnumSelectList<Etapa>()" class="form-control">
                        <option value="" selected="selected" disabled="disabled" hidden="hidden">Seleccionar</option>
                    </select>
                    <span asp-validation-for="Etapa" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Estado" class="control-label col-3 col-form-label"></label>
                <div class="col-9">
                    <select asp-for="Estado" asp-items="Html.GetEnumSelectList<Estado>()" class="form-control">
                        <option value="" selected="selected" disabled="disabled" hidden="hidden">Seleccionar</option>
                    </select>
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Responsable" class="control-label col-3 col-form-label"></label>
                <div class="col-9">
                    <select asp-for="Responsable" class="form-control">
                        <option value="" selected="selected" disabled="disabled" hidden="hidden">Seleccionar</option>
                        <option disabled="disabled">-------------------------</option>
                        <option value="6">Ingeniería</option>
                        <option value="7">Administración FO</option>
                        <option value="3">Mesa de Despacho</option>
                        <option value="9">Instalaciones FO</option>
                        <option value="13">Contratista</option>
                        <option disabled="disabled">-------------------------</option>
                        <option value="5">Gestión de Ingresos</option>
                        <option value="8">Permisos Municipales</option>
                        <option value="14">Cliente</option>
                        <option disabled="disabled">-------------------------</option>
                        <option value="1">Comercial</option>
                        <option value="2">Consultoría & Diseño</option>
                        <option value="4">PM</option>
                        <option value="10">Inserciones AMBA</option>
                        <option value="11">Start-Up</option>
                        <option value="12">Mantenimiento</option>
                        <option disabled="disabled">-------------------------</option>
                    </select>
                    <span asp-validation-for="Responsable" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
