﻿@using SISIFO2019.Model
@model SISIFO2019.Mvc.Models.Tareas.CrearTareaViewModel

@{
    ViewData["Title"] = "Create";
}


<div class="row justify-content-center">

    <div class="col-xl-5 col-lg-8 col-md-10 col-sm-12 justify-items-center">

        <form asp-action="Create">

            <h1 class="col-lg-12 align-self-center alert alert-success sifo-text-center">Crear tarea</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <fieldset>
                <div class="form-group row">
                    <label asp-for="InstalacionId" class="control-label col-4 col-form-label">Instalación ID</label>
                    <div class="col-8">
                        @{
                            if (@Model == null || Model.InstalacionId == 0)
                            {
                                <input asp-for="InstalacionId" class="form-control" />
                            }
                            else
                            {
                                <input asp-for="InstalacionId" class="form-control" readonly="readonly" />
                            }
                        }
                        <span asp-validation-for="InstalacionId" class="text-danger"></span>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <div class="form-group row">
                    <label asp-for="Tipo" class="control-label col-4 col-form-label">Tipo de tarea</label>
                    <div class="col-8">
                        <select asp-for="Tipo" asp-items="Html.GetEnumSelectList<TipoDeTarea>()" class="form-control">
                            <option value="" selected="selected" disabled="disabled" hidden="hidden">Seleccionar</option>
                        </select>
                        <span asp-validation-for="Tipo" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Contratista" class="control-label col-4 col-form-label"></label>
                    <div class="col-8">
                        <select asp-for="Contratista" asp-items="Html.GetEnumSelectList<Contratista>()" class="form-control">
                            <option value="" selected="selected" disabled="disabled" hidden="hidden">Seleccionar</option>
                        </select>
                        <span asp-validation-for="Contratista" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <label asp-for="Estado" class="control-label col-4 col-form-label"></label>
                    <div class="col-8">
                        <select asp-for="Estado" asp-items="Html.GetEnumSelectList<EstadoDeTarea>()" class="form-control">
                            <option value="" selected="selected" disabled="disabled" hidden="hidden">Seleccionar</option>
                        </select>
                        <span asp-validation-for="Estado" class="text-danger"></span>
                    </div>

                </div>
            </fieldset>

            <fieldset>
                <div class="form-group row">
                    <label asp-for="FechaInicio" data-date-format="dd/mm/yyyy HH:mm:ss" class="control-label col-4 col-form-label">Fecha de inicio</label>
                    <div class="col-8">
                        <input asp-for="FechaInicio" class="form-control" />
                        <span asp-validation-for="FechaInicio" class="text-danger"></span>
                    </div>

                </div>
                
                <div class="form-group row">
                    <label class="control-label col-form-label col-4">Duración</label>
                    <div class="input-group col-8">
                        <input asp-for="DuracionHoras" class="form-control sifo-text-center"/>
                        <div class="input-group-append">
                            <span class="input-group-text">hs</span>
                        </div>
                        <input asp-for="DuracionMinutos" class="form-control sifo-text-center"/>
                        <div class="input-group-append">
                            <span class="input-group-text">min</span>
                        </div>
                        <span asp-validation-for="DuracionHoras" class="text-danger"></span>
                        <span asp-validation-for="DuracionMinutos" class="text-danger"></span>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <div class="form-group mx-0 px-0">
                    <label asp-for="Descripcion" class="control-label col-12 px-0"></label>
                    <div class="col-12 px-0">
                        <textarea id="Descripcion" name="Descripcion" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                </div>
            </fieldset>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-secondary">Cancelar y volver a la lista</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section Styles{
    <link rel="stylesheet" href="~/css/tareas.css" />
}
