﻿@using SISIFO2019.Model
@model SISIFO2019.Model.Tarea

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar tarea @Model.Id</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group row">
                <label asp-for="InstalacionId" class="control-label col-3 col-form-label"></label>
                <div class="col-6">
                    <input asp-for="InstalacionId" class="form-control" readonly="readonly"/>
                    <span asp-validation-for="InstalacionId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Tipo" class="control-label col-3 col-form-label"></label>
                <div class="col-6">
                    <select asp-for="Tipo" asp-items="Html.GetEnumSelectList<TipoDeTarea>()" class="form-control">
                        <option value="" selected="selected" disabled="disabled" hidden="hidden">Seleccionar</option>
                    </select>
                    <span asp-validation-for="Tipo" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Contratista" class="control-label col-3 col-form-label"></label>
                <div class="col-6">
                    <select asp-for="Contratista" asp-items="Html.GetEnumSelectList<Contratista>()" class="form-control">
                        <option value="" selected="selected" disabled="disabled" hidden="hidden">Seleccionar</option>
                    </select>
                    <span asp-validation-for="Contratista" class="text-danger"></span>
                </div>

            </div>

            <div class="form-group row">
                <label asp-for="Estado" class="control-label col-3 col-form-label"></label>
                <div class="col-6">
                    <select asp-for="Estado" asp-items="Html.GetEnumSelectList<EstadoDeTarea>()" class="form-control">
                        <option value="" selected="selected" disabled="disabled" hidden="hidden">Seleccionar</option>
                    </select>
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>

            </div>

            <div class="form-group row">
                <label asp-for="FechaInicio" class="control-label col-3 col-form-label"></label>
                <div class="col-6">
                    <input asp-for="FechaInicio" class="form-control" />
                    <span asp-validation-for="FechaInicio" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group row">
                <label asp-for="FechaFin" class="control-label col-3 col-form-label"></label>
                <div class="col-6">
                    <input asp-for="FechaFin" class="form-control" />
                    <span asp-validation-for="FechaFin" class="text-danger"></span>
                </div>

            </div>

            <div class="form-group row">
                <label asp-for="Descripcion" class="control-label col-3 col-form-label"></label>
                <div class="col-6">
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>

            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-warning" /> |
                <a asp-action="Index" class="btn btn-secondary">Cancelar y volver a la lista</a>
            </div>
        </form>
    </div>
</div>
