﻿@using SISIFO2019.Model
@model IEnumerable<SISIFO2019.Mvc.Models.Tareas.TareaViewModel>

@{
    ViewData["Title"] = "Index";
}

@{
    ViewData["Title"] = "Instalaciones";
    var relevamiento = @Model.Count(t => t.Tipo == TipoDeTarea.Relevamiento);
    var sondeo = @Model.Count(t => t.Tipo == TipoDeTarea.Sondeo);
    var tendido = @Model.Count(t => t.Tipo == TipoDeTarea.Tendido);
    var obracivil = @Model.Count(t => t.Tipo == TipoDeTarea.ObraCivil);
    var empalme = @Model.Count(t => t.Tipo == TipoDeTarea.Empalme);
}


<h1>Tareas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary btn-sm">Agregar tarea</a>
</p>
<table class="table table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contratista)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contratista)
                </td>

                <td>
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-binoculars btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Detalles"></i></a> |
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-pencil-alt btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Editar"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Eliminar"></i></a>
                    <a asp-controller="Index" asp-action="Details" asp-route-id="@item.InstalacionId" data-toggle="tooltip" data-placement="top" title="Ver instalación asociada"><i class="fas fa-link btn btn-info btn-sm"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h5> Total en vista actual: @Model.Count()</h5>
<h5>Relevamiento: @relevamiento | Sondeo: @sondeo | Obra civil: @obracivil | Tendido: @tendido | Empalme: @empalme</h5>
