﻿@using SISIFO2019.Model
@using SISIFO2019.Mvc.Models.Tareas
@model IEnumerable<SISIFO2019.Mvc.Models.Tareas.TareaViewModel>

@{
    ViewData["Title"] = "TareasAgrupadasPorFecha";
    var i = 0;
}

<div class="main-header">
    <div class="row">
        <h1 class="col-3">Lista de tareas</h1>
        <a asp-action="Create" class="col-auto btn btn-primary btn-sm align-self-center">Agregar tarea</a>
    </div>
</div>

<div class="container mb-3">
    <div class="row align-items-center">
        <div class="container col">
            <div class="row">
                <button class="btn btn-secondary btn-sm" id="contraer-todo">Contraer todo</button>
                <button class="btn btn-secondary btn-sm ml-1 mr-1" id="expandir-todo">Expandir todo</button>
                <button class="btn btn-secondary btn-sm" id="invertir-visibilidad">Invertir visibilidad</button>
            </div>
        </div>

        <div class="form-inline">
            <select id="search-select" class="form-control">
                <option value="-1" selected="selected">Ver todo</option>
                <option value="0">Fecha</option>
                <option value="1">Tipo</option>
                <option value="2">Estado</option>
                <option value="3">Contratista</option>
            </select>
            <input type="search" id="search-input" class="form-control ml-1 mr-1" readonly="readonly"/>
            <button id="search-button" class="btn btn-success" disabled="disabled">Buscar</button>

        </div>
    </div>
</div>

<div class="container">
    <div class="header row">
        <a class="btn btn-dark col-3" data-index="0">Fecha de inicio</a>
        <a class="btn btn-dark col-2" data-index="1">Tipo</a>
        <a class="btn btn-dark col-2" data-index="2">Estado</a>
        <a class="btn btn-dark col-2" data-index="3">Contratista</a>
        <div class="col-3"></div>
    </div>
</div>

@foreach (PeriodoTarea periodo in Enum.GetValues(typeof(PeriodoTarea)))
{
    var tareas = @Model.Where(t => t.Periodo == periodo);

    string id = "ol-wrapper" + i;
    string href = "#" + id;

    <div>

        <div class="group-header container">
            <a class="expander row align-items-center" href="@href" role="button" data-toggle="collapse">@periodo&nbsp;<span class="count">(@tareas.Count())</span></a>
        </div>

        <div class="show" id="@id">
            <ol class="container">

                @foreach (var vm in tareas)
                {
                    <li class="row">
                        <div class="col-3">@vm.FechaInicio</div>
                        <div class="col-2">@vm.Tipo</div>
                        <div class="col-2">@vm.Estado</div>
                        <div class="col-2">@vm.Contratista</div>
                        <div class="col-3">
                            <a asp-action="Details" asp-route-id="@vm.Id"><i class="fas fa-binoculars btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Detalles"></i></a> |
                            <a asp-action="Edit" asp-route-id="@vm.Id"><i class="fas fa-pencil-alt btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Editar"></i></a> |
                            <a asp-action="Delete" asp-route-id="@vm.Id"><i class="fas fa-trash-alt btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Eliminar"></i></a> |
                            <a asp-controller="Index" asp-action="Details" asp-route-id="@vm.InstalacionId" data-toggle="tooltip" data-placement="top" title="Ver instalación asociada"><i class="fas fa-link btn btn-info btn-sm"></i></a>
                        </div>
                    </li>
                }
            </ol>
        </div>


    </div>



    i++;

}

@section Styles{
    <link rel="stylesheet" href="~/css/tareas/lista-de-tareas.css" />
}

@section Scripts {
    <script src="~/js/tareas/lista-de-tareas.js"></script>
    <script src="~/js/tareas/tareas-search.js"></script>
}
